---
// Import the necessary function and data types
import { findActiveAnnouncements } from "~/utils/blog";
import type { Post } from '~/types';

const Announcements = await findActiveAnnouncements();
---

<style>
  .marquee {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .marquee-content {
    display: block;
    width: max-content;
    position: absolute;
    white-space: nowrap;
    animation: marquee 80s linear infinite;
  }
  
  @keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
  }
</style>

<div class="marquee h-10 bg-black flex items-center">
  <span class="marquee-content text-primary">
    {Announcements.map((announcement, index) => (
      <Fragment key={index}>
        {announcement.excerpt}
        {index < Announcements.length - 1 && <span class="mx-[400px]"></span>}
      </Fragment>
    ))}
  </span>
</div>

